body{
    background: url("/assests/images/gravel.png");
    background-attachment: fixed;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
}
.container{
    background-color: #ffffff;
    width: 960px;
    height: 800px;
    margin: 0 auto;
}
/*header of the container*/
.nav{
   background: #ffffff;
   font-family: 'Georgia', Times, Times New Roman, serif;

}
.menu{
    background-color: #ffffff;
    width: 960px;
    height: 100px;
    margin: auto;
    /* border-bottom: 1px solid #4c4c4c; */
    overflow: hidden;
}
.id{
    background-color: #4aaaa5;
    width: 25%;
    text-align: center;
    line-height: 10%;
    height: 50px;
    padding-top:10px;
    position: relative;
    top: 40px;
    color: #ffffff;
}
.id h2{
    position: relative;
    top: -3px;
}
.about,
.contact,
.port{
    float: right;
    position: relative;
    right: 0px;
    padding-right: 10px;
    height: 50px;
    bottom: 20px;
    padding-top: 10px;
    padding-left: 10px;
    color: #000000;
}
.port a,.contact a{
    border-right: #4c4c4c solid 1px;
    position: relative;
    top: 10px;
    padding-right: 10px;

}
div .port:hover{
    background-color: #4aaaa5;
}
div .about:hover{
    background-color: #4aaaa5;

}
div .contact:hover{
    background-color: #4aaaa5;

}
.about{
    background-color: #4aaaa5;
    
}
.about a{
    color: white;
    position: relative;
    top: 10px;
}


a{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #4aaaa5;
    
}
.about .port .contact a{
    position: relative;
    top: 10px;
}
a:hover{
    color: white;
}
/*body of the container*/
.inscontainer{
    width: 100%;
    position: relative;
    top:0px;
    overflow: auto;
    background-color: #ffffff;
    /* line-height: 3px; */
    height: 100%;
    border: 1px #dddddd solid;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}
.imgbox{
    width: 150px;
    height: 150px;
    float: left;
    overflow: hidden;
    position: relative;
    top: 30px;
    left: 10px;
}
.artTitle{
    position: relative;
    top: 15px;
    left:10px;
    padding-top:20px;
}
.imgbox img{
    width: 150px;
    height: 150px;
}

.inscontainer p{
    float: left;
    position: relative;
    left: 20px;
    text-align: justify;
    width: 70%;
}
.inscontainer ul{
    float: left;
    position: relative;
    left: 5px;
}
.inscontainer #firstp{
    top: 20px;
}
.clearfix{
    clear: both;
}
.beforfooter{
    background: #2C2A4A;
    height: 10px;
    width: 100%;
}
footer{
    background: #666666;
    height: 30px;
    color: black;
    text-align: center;
    padding-top: 20px
}
/*portofolio page*/
.ptable{
    width: 650px;
    height: 100%;
    position: relative;
    top: 70px;
    left: 77px
}
.imgb{
    position: relative;
    width: 300px;
    height: 150px;
    border: 1px black solid;
    float: left;
}
.im1 {
    left: 15px;
    top: 10px;
}
.im2{
    left: 20px;
    top: 10px;
}

.im4{
    left: 15px;
    top: 15px;
}
.im5{
    left: 20px;
    top: 15px;
}

.im7{
    left: 15px;
    top: 20px;
}
.im8{
    left: 20px;
    top: 20px;
}
.im9{
    left: 15px;
    top: 25px;
}
.im10{
    left: 20px;
    top: 25px;
}
.ptable img{
    width: 300px;
    height: 150px;
}
.title{
    position: absolute;
    top: 90px;
    width: 100%;
    height: 30px;
    padding-top:20px;
    background: #001f3f;
    color: white;
    text-align: center;
}
.formdiv{
    width: 600px;
    position: relative;
    top: 70px;
    left: 100px;
    height: 500px;
    overflow: hidden;
}

#first{
    position: relative;
    float: left;
    top: 20px;
    left: 5px;
}
#fname{
    width: 95%;
    float: left;
    position: relative;
    padding: 10px 10px;
    top: 32px;
    left: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
#sec{
    position: relative;
    float: left;
    top: 55px;
    left: 5px;
}
#email{
    width: 95%;
    float: left;
    position: relative;
    left: 5px;
    top: 67px;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
#third{
    position: relative;
    float: left;
    top: 80px;
    left: 5px;
}
#txt{
    width: 95%;
    position: relative;
    top: 95px;
    padding: 10px 10px;
    left:5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
input[type=submit]{
    width: 99%;
    background-color: #4aaaa5;
    color: white;
    padding: 14px 20px;
    position: relative;
    top: 140px;
    left:5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}